In [4]:
import pandas as pd

ModuleNotFoundError: No module named 'util'

In [2]:
df = pd.read_csv('processed/dataset_2.csv')

In [3]:
df.head(5)

   tenure  MonthlyCharges  class
0       1           29.85      0
1      34           56.95      0
2       2           53.85      1
3      45           42.30      0
4       2           70.70      1